<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">My Notes</a>
    </div>

   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a routerLink="/notes/angular-fire-notes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AngularFire Notes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/my-notes-beta/notes/angular-fire-notes#fuckyou">TOP OF PAGE</a></li>
            <li><a href="/my-notes-beta/notes/angular-fire-notes#1">MISC</a></li>
            <li><a href="/my-notes-beta/notes/angular-fire-notes#2">METHODS</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a routerLink="/notes/git-notes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Git Notes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/my-notes-beta/notes/git-notes#0">TOP OF PAGE</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#1">MISC</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#2">GENERAL</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#3">COMMIT</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#4">LOG</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#5">DIFF</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#6">BRANCH</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#7">MERGING</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#8">TAG</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#9">STASH</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#10">TIME-TRAVEL/RESET</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#11">REMOTE</a></li>
            <li><a href="/my-notes-beta/notes/git-notes#12">CLONING</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

