<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">My Notes</a>
    </div>

   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a routerLink="/notes/angular-fire-notes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AngularFire Notes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>not set up yet</li>
          </ul>
        </li>
        <li class="dropdown">
          <a routerLink="/notes/git-notes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Git Notes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/notes/git-notes#0">TOP OF PAGE</a></li>
            <li><a href="/notes/git-notes#1">MISC GIT NOTES</a></li>
            <li><a href="/notes/git-notes#2">GENERAL COMMANDS</a></li>
            <li><a href="/notes/git-notes#3">COMMIT COMMANDS</a></li>
            <li><a href="/notes/git-notes#4">LOG COMMANDS</a></li>
            <li><a href="/notes/git-notes#5">DIFF COMMANDS SECTION</a></li>
            <li><a href="/notes/git-notes#6">BRANCH SECTION</a></li>
            <li><a href="/notes/git-notes#7">MERGING COMMANDS</a></li>
            <li><a href="/notes/git-notes#8">TAG COMMANDS</a></li>
            <li><a href="/notes/git-notes#9">STASH COMMANDS</a></li>
            <li><a href="/notes/git-notes#10">TIME-TRAVEL/RESET COMMANDS</a></li>
            <li><a href="/notes/git-notes#11">REMOTE GIT COMMANDS SECTION</a></li>
            <li><a href="/notes/git-notes#12">CLONING A PROJECT</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

