<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">My Notes</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" *ngFor="let pageNote of pageNotesArray; let i = index">
          <li class="dropdown">
            <a routerLink="/notes/{{pageNote[i].page}}-notes/{{pageNote[i].page}}" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">{{pageNote[i].page}} Notes <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <div>
                <li *ngFor="let note of pageNotesArray[i]"><a href="/notes/{{pageNote[i].page}}-notes/{{pageNote[i].page}}#{{note.section}}">{{note.section}}</a>{{pageNote[i].section}}</li>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>