<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">My Notes</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" *ngFor="let name of pageNamesArray; let i = index">
          <li class="dropdown">
            <a routerLink="/notes/{{name}}-notes/{{name}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">{{name}} Notes <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <div>
                <li *ngFor="let note of pageNotesArray[i] | filter"><a href="/notes/{{name}}-notes/{{name}}#{{note}}">{{note}}</a></li>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>