<div class="container">
  <div class="page-header section-header" id="0">
    <h1>AngularFire and Firebase Notes <small>select a section from the AngularFire Notes dropdown</small></h1>
    <button class="btn" id="af-add-btn" routerLink="/notes/angular-fire-notes/angular-fire/new">Add A Note</button>
  </div>
  <div *ngFor="let note of notes | async">
    <div *ngIf="note.page === 'git'" id="">
      <h2 class="section-header" (click)="toAdd('misc')">{{note.section}}</h2>
      <hr>
      <div>
        <app-note-item [note]="note" [page]="note.page" (click)="onCanEdit(note)" ></app-note-item>
      </div>
    </div>
  </div>
  <hr>
  <!--<div id="2">
    <h2 class="section-header" (click)="toAdd('methods')">METHODS</h2>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-note-item [note]="note" [page]="note.page" (click)="onCanEdit(note)" *ngIf="note.section === 'methods' && note.page === 'angular-fire'"></app-note-item>
    </div>
  </div>-->
  <br><br><br><br><br><br>
</div>