<div>
  <h3>{{note.title}}</h3>
  <p>{{note.content}}</p>
  <div *ngIf="note.side">
    <h5 class="side"><strong>SIDE NOTE</strong></h5>
    <p>{{note.side}}</p>
  </div>
  <div *ngIf="note.important">
    <h5 class="important"><strong>IMPORTANT NOTE</strong></h5>
    <p>{{note.important}}</p>
  </div>
  <div *ngIf="note.isEditable">
    <button class="btn btn-info btn-xs" (click)="onEdit(note.$key)">Edit</button>
    <button class="btn btn-danger btn-xs" (click)="onDelete(note.$key)">Delete</button>
  </div>
</div>