<div class="container">
  <div class="page-header section-header" id="0">
    <h1>Git And GitHub Notes <small>select a section from the Git Notes dropdown</small></h1>
    <button class="btn btn-success" routerLink="/notes/git-notes/new">Add A Note</button>
  </div>
  <div id="1">
    <h2 class="section-header" (click)="toAdd('misc')">MISC GIT NOTES</h2>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'misc'"></app-git-note-item>
    </div>
  </div>
  <hr>
  <div id="2">
    <h2 class="section-header" (click)="toAdd('general')">GENERAL COMMANDS</h2>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'general'"></app-git-note-item>
    </div>
  </div>
  <hr>
  <div id="3">
    <h2 class="section-header" (click)="toAdd('commit')">COMMIT COMMANDS</h2>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'commit'"></app-git-note-item>
    </div>
  </div>
  <hr>
  <div id="4">
    <h2 class="section-header" (click)="toAdd('log')">LOG COMMANDS</h2>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'log'"></app-git-note-item>
    </div>
  </div>
  <hr>
  <div id="5">
    <h2 class="section-header" (click)="toAdd('diff')">DIFF COMMANDS SECTION</h2>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'diff'"></app-git-note-item>
    </div>
  </div>
  <hr>
  <div id="6">
    <h1 class="section-header" (click)="toAdd('branch')">BRANCH SECTION</h1>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'branch'"></app-git-note-item>
    </div>
  </div>
  <hr>
  <div id="7">
    <h2 class="section-header" (click)="toAdd('merge')">MERGING COMMANDS</h2>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'merge'"></app-git-note-item>
    </div>
  </div>
  <div id="8">
    <h2 class="section-header" (click)="toAdd('tag')">TAG COMMANDS</h2>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'tag'"></app-git-note-item>
    </div>
  </div>
  <hr>
  <div id="9">
    <h2 class="section-header" (click)="toAdd('stash')">STASH COMMANDS</h2>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'stash'"></app-git-note-item>
    </div>
  </div>
  <div id="10">
    <h2 class="section-header" (click)="toAdd('time-travel')">TIME-TRAVEL/RESET COMMANDS</h2>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'time-travel'"></app-git-note-item>
    </div>
  </div>
  <hr>
  <div id="11">
    <h1 class="section-header" (click)="toAdd('remote')">REMOTE GIT COMMANDS SECTION</h1>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'remote'"></app-git-note-item>
    </div>
  </div>
  <div id="12">
    <h1 class="section-header" (click)="toAdd('cloning')">CLONING NOTES</h1>
    <hr>
    <div *ngFor="let note of notes | async">
      <app-git-note-item [note]="note" (click)="onCanEdit(note)" *ngIf="note.section === 'cloning'"></app-git-note-item>
    </div>
  </div>
  <br><br><br><br><br><br>
</div>