<div class="container">
  <h3 id="section-title">Choose a section for your {{notePage}} note</h3>
  <div *ngIf="!addingNewPage">
    <button class="btn btn-info" (click)="toggleRadios()">{{sectionToggleButton}}</button>
  </div>
  <br>
  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <div *ngIf="addingNewPage">
      <div class="form-group">
        <label for="page">Page Name<small> must be all lowercase, no special symbols</small></label>
        <input type="text" formControlName="page" id="page" class="form-control">
      </div>
    </div>
    <div *ngIf="showRadios == false">
      <div class="form-group">
        <label for="section">Section Name<small> must be all lowercase, no special symbols</small></label>
        <input type="text" formControlName="section" id="section" class="form-control">
      </div>
    </div>
    <div *ngIf="sections.length > 0 && showRadios == true">
      <div class="radio" *ngFor="let section of sections">
        <label>
            <input type="radio" formControlName="section" [value]="section"><p>{{section}}</p>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input formControlName="title" type="text" id="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <label (click)="pasteCodeWrap('content')"> [code wrap]</label>
      <label (click)="pastePTag('content')"> [p tag]</label>
      <label (click)="pasteHRef('content')"> [href tag]</label>
      <label (click)="pasteLi('content')"> [li tag]</label>
      <textarea rows="10" formControlName="content" type="text" id="content" class="form-control" name="text-area">
      </textarea>
    </div>
    <div class="form-group">
      <label for="side">Side Note</label>
      <label (click)="pasteCodeWrap('side')"> [code wrap]</label>
      <label (click)="pastePTag('side')"> [p tag]</label>
      <label (click)="pasteHRef('side')"> [href tag]</label>
      <label (click)="pasteLi('side')"> [li tag]</label>
      <textarea rows="3" formControlName="side" type="text" id="side" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="important">Important Note</label>
      <label (click)="pasteCodeWrap('important')"> [code wrap]</label>
      <label (click)="pastePTag('important')"> [p tag]</label>
      <label (click)="pasteHRef('important')"> [href tag]</label>
      <label (click)="pasteLi('important')"> [li tag]</label>
      <textarea rows="3" formControlName="important" type="text" id="important" class="form-control"></textarea>
    </div>
    <button type="submit" [disabled]="!noteForm.valid" class="btn btn-primary">Add Note</button>
    <button class="btn" type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>