<div class="container">
  <div class="page-header section-header" id="0">
    <h1>{{notePage | uppercase}} Notes <small> select a section from the {{notePage}} notes dropdown</small></h1>
    <button class="btn btn-success" routerLink="/notes/note/{{notePage}}/new">Add A Note</button>
  </div>
  <div *ngFor="let sectionNote of currentPageSections; let i = index" >
    <div *ngFor="let sectionNote of currentPageSections[i]; let i = index; let first = first">
      <div id="{{sectionNote.section}}">
        <h2  class="section-header" (click)="toAdd(sectionNote.section)" *ngIf="first">{{sectionNote.section | uppercase}}</h2>
        <hr>
          <app-note-item [note]="sectionNote" [page]="sectionNote.page" (click)="onCanEdit(sectionNote)" (deleteNote)="onDelete($event)"></app-note-item>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>
</div>